<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des employés</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center">Liste des employés</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th></th> <!-- Colonne pour le lien vers la fiche employé -->
        </tr>
        </thead>
        <tbody>
        <!-- Boucle sur la liste des employés -->
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.dateOfBirth}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/employee/{id}(id=${employee.id})}">Voir la fiche</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>