<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des employés</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="text-center">Liste des employés</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Date de naissance</th>
            <th>Sexe</th>
            <th>Téléphones</th>
            <th>Adresse</th>
            <th>Email perso</th>
            <th>Email pro</th>
            <th>Numéro CIN</th>
            <th>Date de délivrance du CIN</th>
            <th>Lieu de délivrance du CIN</th>
            <th>Fonction</th>
            <th>Enfants à charge</th>
            <th>Date d'embauche</th>
            <th>Date de départ</th>
            <th>Catégorie socio-professionnelle</th>
            <th>Numéro CNAPS</th>
            <th></th> <!-- Colonne pour le lien vers la fiche employé -->
        </tr>
        </thead>
        <tbody>
        <!-- Boucle sur la liste des employés -->
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.dateOfBirth}"></td>
            <td th:text="${employee.sex}"></td>
            <td th:text="${employee.phones}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.personalEmail}"></td>
            <td th:text="${employee.professionalEmail}"></td>
            <td th:text="${employee.cinNumber}"></td>
            <td th:text="${employee.cinDeliveryDate}"></td>
            <td th:text="${employee.cinDeliveryPlace}"></td>
            <td th:text="${employee.jobTitle}"></td>
            <td th:text="${employee.numberOfChildren}"></td>
            <td th:text="${employee.hireDate}"></td>
            <td th:text="${employee.departureDate}"></td>
            <td th:text="${employee.socioProfessionalCategory}"></td>
            <td th:text="${employee.cnapsNumber}"></td>
            <td>
                <a class="btn btn-primary" th:href="@{/employee/{id}(id=${employee.id})}">Voir la fiche</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>